//-- Contact
article#contact.panel
	header
		h2 Contact Me
		p(align='justify')!= data.contact.text
	form(action='#', method='post')
		div
			.row
				div(class='6u 12u$(mobile)')
					input(type='text', name='name', placeholder='Name')
				div(class='6u$ 12u$(mobile)')
					input(type='text', name='email', placeholder='Email')
				div(class='12u$')
					input(type='text', name='subject', placeholder='Subject')
				div(class='12u$')
					textarea(name='message', placeholder='Message', rows='8')
				div(class='12u$')
					input(type='submit', value='Send Message', disabled='true')