//-- Social Media
article#social-media.panel
	header
		h1 Social Media
	a.jumplink.pic(href='#contact')
		span.arrow.icon.fa-chevron-right
			span Contact me
	p= data.socialMedia.text
	section
		.row(style='text-align:center;')
			div(class='12u 12u$(mobile)')
				ul.social-icons.icon-circle.list-unstyled.list-inline
					li
						a(href='https://twitter.com/Shibami_', target='_blank')
							i.fa.fa-twitter
					li
						a(href='#', target='_blank')
							i.fa.fa-facebook
					li
						a(href='#', target='_blank')
							i.fa.fa-instagram