//-- Work
article#work.panel
	header
		h2 Work
	a.jumplink.pic(href='#social-media')
		span.arrow.icon.fa-chevron-right
			span See my socials
	p(align='justify')!= data.work.text
	section
		.row
			div(class='4u 12u$(mobile)')
				a.image.fit(href='#')
					img(src='assets/images/pic01.jpg', alt='')
			div(class='4u 12u$(mobile)')
				a.image.fit(href='#')
					img(src='assets/images/pic02.jpg', alt='')
			div(class='4u 12u$(mobile)')
				a.image.fit(href='#')
					img(src='assets/images/pic03.jpg', alt='')